/* Page.css */

/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2e9e9;
  margin: 0; /* Remove default margin to ensure footer spans the full width */
}

.banner {
  background-color: #013220; /* Change header color to green */
  text-align: left; /* Align text to the left */
  padding-left: 30px;
}

/* Header styles */
.header {
  background-color: #013220;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed; /* Position the header at the top */
  top: 0; /* Stick the header to the top of the viewport */
  width: 100%; /* Ensure the header spans the full width */
}

.header h1 {
  margin: 0;
}

/* Footer styles */
.footer {
  background-color: #013220;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  position: fixed; /* Position the footer at the bottom */
  bottom: 0; /* Stick the footer to the bottom of the viewport */
  width: 100%; /* Ensure the footer spans the full width */
}

.footer p {
  margin: 0;
}

/* Page container */
.page-container {
  padding-top: 13%; /* Add padding to account for the header */
  padding-bottom: 120px; /* Add padding to account for the footer */
  display: flex;
  justify-content: space-evenly; /* Ensure sections are positioned at the ends */
}
/* Inner container for content */
.content-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40%; /* Add left padding */
  padding-right: 20px; /* Add right padding */
}

/* Left section */
.left-section {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Right section */
.right-section {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.1);
  width: 35%;
}

/* Form group styles */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Search input */
.right-section input[type="text"] {
  margin-bottom: 10px;
  width: 99%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Items list styles */
.items-list {
  list-style-type: none;
  padding: 0;
}

.items-list li {
  margin-bottom: 10px;
}

.items-list label {
  margin-left: 5px;
  font-size: 16px;
}

.combo-box-container {
  height: 300px; /* Set a fixed height for the container */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Add border for visual clarity */
  border-radius: 10px; /* Add round borders */
  padding-right: 10px; /* Add padding to accommodate scrollbar */
  align-items: start;
}

.combo-box-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.combo-box-container::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scrollbar track */
}

.combo-box-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Add round borders to the scrollbar thumb */
}

.combo-box-container::-webkit-scrollbar-thumb:hover {
  background-color: #ccc; /* Color of the scrollbar thumb on hover */
}


/* Checkbox styles */
.items-list input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
}

/* Submit button styles */
.submit-button {
  padding: 15px 90px;
  background-color: #013220;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  position: fixed; /* Position the button at the bottom */
  bottom: 11%; /* Set the distance from the bottom */
  left: 70%; /* Center the button horizontally */
  transform: translateX(-50%); /* Adjust the horizontal position */
}

.submit-button:hover {
  background-color: #0d9b67;
}

.percentage-boxes-container {
  display: flex;
}

.percentage-box {
  flex: 1;
  text-align: center;
  border: 1px solid gray; /* Change border color to gray */
  border-radius: 10px; /* Add round border */
  background-color: #2e2b2b; /* Add gray background color */
  color: #fff;
  margin-right: 10px; /* Add margin between boxes */
  padding: 10px; /* Add padding */
}


.percentage-box:last-child {
  margin-right: 0; /* Remove margin from the last box */
}

.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add spacing between logo and text */
  background-image: url('disalog.png');
  background-size: contain; /* Ensure the image fits within the dimensions */
  background-repeat: no-repeat; /* Prevent repeating the image */
}
