/* LoginForm.css */

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('bg4.jpeg'); /* Replace 'background-image.jpg' with your image file */
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  background-color: #013220; 
}

.header i {
  margin-right: 10px;
}

.banner {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.banner h1 {
  margin: 0;
  font-size: 32px;
}

.login-form {
  width: 400px;
  padding: 75px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
